<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div
      th:fragment="card_footer (post)"
      class="card-short card-short--featured content"
    >
    <div class="card-image-container">
      <a th:href="${'/posts/' + post.slug}" class="card-image-link">
        <img th:src="${post.image.getUrlOrNull()}" class=".featured-image"/>
      </a>
    </div>  
      <div class="card-short__detail">
        <div class="card-title">
          <a th:href="${'/posts/' + post.slug}"
            ><b>[[${post.title}]]</b></a
          >
        </div>
      </div>
    </div>
  </body>
</html>