<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="content" class="content">
        <div class="card-short">
          <div class="card-image-container">
            <a th:href="${'/posts/' + mostViewPost.slug}" class="card-image-link">
                <img th:src="${mostViewPost.image.getUrlOrNull()}" class="featured-image"/>
            </a>
          </div>  
            <div class="card-short__detail">
              <div class="card-title">
                <a th:href="${'/posts/' + mostViewPost.slug}">
                    <b>[[${mostViewPost.title}]]</b>
                </a>
              </div>
              <div>
                <p class="card-view">
                    [[${mostViewPost.viewCount}]]
                    <span> Views</span>
                </p>
              </div>
            </div>
          </div>
    </div>
  </body>
</html>