<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="card_whiteboard" class="card--medium card-whiteboard">
  <a th:href="${'/posts/' + latestPost.slug}"
    ><img
    th:src="${latestPost.image.getUrlOrNull()}"
      alt=""
  /></a>
  <div class="card-info">
    <div class="card-avatar">
      <a href="#"
        ><img
          src="https://secure.gravatar.com/avatar/82d76ac5aea6be5ad3feceb3a8547b41?s=60&d=mm&r=g"
          alt=""
        />
      </a>
    </div>
    <div class="container-for-avatar">
      <div class="card-author">
        <i>[[#{by}]] </i><a href="#"><b>[[${latestPost.author.name}]]</b></a>
      </div>
      <div class="card-date date-string">[[${latestPost.publishedAt}]]</div>
    </div>
  </div>
  <div class="card-title"><a th:href="${'/posts/' + latestPost.slug}">[[${latestPost.title}]]</a></div>
  <div class="card-content">
    [[${mainPost.content.replaceAll("<[^>]*>", "")}]]
  </div>
  <ul class="card-index">
    <li>
      <i class="far fa-comment-alt"></i>
      <span class="commas-number-string">[[${latestPost.getCommentCount()}]]</span>
    </li>
    <li>
      <i class="far fa-clock"></i>
      <span>2 min</span>
    </li>
    <li>
      <i class="fas fa-signal"></i>
      <span class="commas-number-string">[[${latestPost.getViewCount()}]]</span>
    </li>
  </ul>
</div>
<script th:fragment="scripts" th:inline="javascript">
/*<![CDATA[*/
ezyweb.messages.by = /*[[#{by}]]*/;
/*]]>*/

var buildPostListItemHtml = function(post) {
  var html = `
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card--medium card-whiteboard">
        <a href="${'/posts/' + post.slug}">
          <img src="${ezyweb.extractMediaUrl(post.image)}"/>
        </a>
        <div class="card-info">
          <div class="card-avatar">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/82d76ac5aea6be5ad3feceb3a8547b41?s=60&d=mm&r=g" />
            </a>
          </div>
          <div class="container-for-avatar">
            <div class="card-author">
              <i>${ezyweb.messages.by} </i><a href="#"><b>${post.author.name}</b></a>
            </div>
            <div class="card-date date-string">
                ${ezyweb.formatTimeStamp(post.publishedAt, 'YYYY-MM-DD')}
              </div>
          </div>
        </div>
        <div class="card-title">
          <a href="${'/posts/' + post.slug}">${post.title}</a>
        </div>
        <div class="card-content">
            ${ezyweb.removeHtmlTagAndSub(post.content, 6000)}
        </div>
        <ul class="card-index">
          <li>
            <i class="far fa-comment-alt"></i>
            <span>${ezyweb.formatNumberWithCommas(post.commentCount)}</span>
          </li>
          <li>
            <i class="far fa-clock"></i>
            <span>2 min</span>
          </li>
          <li>
            <i class="fas fa-signal"></i>
            <span>${ezyweb.formatNumberWithCommas(post.viewCount)}</span>
          </li>
        </ul>
      </div>
    </div>
    `;
  return html;
}
</script>
</body>
</html>
