<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <footer th:fragment="footer" class="content">
      <div class="container-fluid container-footer-style">
        <div class="container">
          <!-- Phần subcribe -->
          <div class="footer-subcribe">
            
          </div>
          <!-- Phần 4 cột -->
          <div class="row gx-8 gy-5 footer-table">
            <!-- Phần list card trending -->
            <div class="col-lg-3 col-md-6 list-card--feature">
                <!-- Phần tiêu đề -->
                <div class="list-card__title">
                  <div class="container-for-title">
                    <div class="title-section">[[#{trending}]]</div>
                    <div class="line"></div>
                  </div>
                  <div class="des-section">
                    <p>[[#{card_trending_description}]]</p>
                  </div>
                </div>
                <!-- Phần card -->
                <div th:each="trending : ${trendings}">
                  <th:block th:replace="~{fragments/cards/card_footer :: card_footer(post=${trending})}" />
                </div>
            </div>
            <!-- Phần list card featured -->
            <div class="col-lg-3 col-md-6 list-card--feature">
              <!-- Phần tiêu đề -->
              <div class="list-card__title">
                <div class="container-for-title">
                  <div class="title-section">[[#{feature}]]</div>
                  <div class="line"></div>
                </div>
                <div class="des-section">
                  <p>[[#{card_featured_description}]]</p>
                </div>
              </div>
              <!-- Phần card -->
              <div th:each="featured : ${featureds}">
                <th:block th:replace="~{fragments/cards/card_footer :: card_footer(post=${featured})}" />
              </div>
            </div>
            <!-- Phần list card editor -->
            <div class="col-lg-3 col-md-6 list-card--feature">
              <!-- Phần tiêu đề -->
              <div class="list-card__title">
                <div class="container-for-title">
                  <div class="title-section">[[#{editor_pick}]]</div>
                  <div class="line"></div>
                </div>
                <div class="des-section">
                  <p>[[#{card_editor_description}]]</p>
                </div>
              </div>
              <!-- Phần card -->
              <div th:each="featured : ${featureds}">
                <th:block th:replace="~{fragments/cards/card_footer :: card_footer(post=${featured})}" />
              </div>
            </div>
            <!-- Phần danh mục -->
            <div class="col-lg-3 col-md-6 list-card--feature">
              <!-- Phần tiêu đề -->
              <div class="list-card__title">
                <div class="container-for-title">
                  <div class="title-section">[[#{category}]]</div>
                  <div class="line"></div>
                </div>
              </div>
              <!-- Phần các danh mục -->
               <ul class="footer-category">
                <th:block th:if="${categories.size() > 0}">
                <li th:each="category : ${categories}">
                  <a th:href="${'/categories/' + category.slug}">[[${category.name}]]</a>
                </li>
                </th:block>
               </ul>
            </div>
          </div>
          <!-- Phần Mạng xã hội -->
          <div class="footer-media">
            <a href="#"><div>
              <i class="fab fa-instagram" style="color: #ff8080;"></i>
            </div></a>
            <a href="#"><div>
              <i class="fab fa-facebook-f" style="color: #0080ff;"></i>
            </div></a>
            <a href="#"><div>
              <i class="fab fa-youtube" style="color: #ff0000;"></i>
            </div></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
