.content-container {
  padding: 50px 10px 0px 10px;
  gap: 20px;
}

// Card chính
.card--big {
  @extend %card-general;
  @include card-style($card-big-text-title, $card-big-text-content, $card-big-text-detail);
  display: flex;
  flex-flow: column;
  gap: 15px;
  // padding-right: 15px;
}



// List card phụ
.list-card--main {
  display: flex;
  flex-flow: column;
  gap: 50px;
  // padding: 0 15px;
}
//list card trending
.list-card--trending {
  // padding-left: 15px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}
// title cho list card
.list-card__title {
  .container-for-title {
    display: flex;
    .title-section {
      color: $text-color-primary;
      font-size: 20px;
      font-weight: 800;
      flex: 0 auto;  
    };
    .line {
      border-bottom: 0.5px solid $line-color-light;
      width: 100%;
      margin-bottom: 6px;
      margin-left: 10px;
      flex: 1;
    };
  }
  .des-section {
    padding-top: 10px;
    p {
      color: $text-color-light;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}
// list card featured
.list-card--feature {
  display: flex;
  flex-flow: column;
  gap: 15px;
  .list-card__block {
    .first-card {
      display: flex;
      flex-flow: column;
      margin-bottom: 10px;
      .card-short__detail {
        .card-title {
          font-size: $card-medium-text-title;
        }
      }
      .card-image-container {
        width: 100%;
        height: auto;
      }
      .card-image-link {
        display: block; 
        width: 100%;
        height: 100%;
      }
      .featured-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}




// list card whiteboard
.list-card--whiteboard {
  &> .list-card__title {
    margin-bottom: 50px;
    margin-top: 50px;
    .container-for-title .title-section {
      font-size: $card-big-text-title;
    }
  }
}


// Chuyển trang
.load-mores {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.page-switch {

  .container-for-switch {
    margin-top: 30px;
    border-top: .5px solid $line-color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    .switch-page {
      margin: 20px 10px;
      background-color: #F5F5F5;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        font-size: $card-small-text-detail;
        color: $text-color-primary;
        text-decoration: none;
      }
    }
  }
}








// Responsive
@media (max-width: 1399.98px) {
  .content-container {
    padding: 30px 30px;
  }
}
@media (max-width: 1199.98px) {
  .content-container {
    padding: 20px 0 0 0;
  }
  // Chỉnh kích thước cho card big
  .card--big {
    @include card-style($card-big-text-title - 4px, $card-big-text-content - 3px, $card-big-text-detail);
  }
  // CHỉnh kích thước card-medium
  .card--medium {
    @include card-style($card-medium-text-title - 2px, $card-medium-text-content, $card-medium-text-content);
    img {
      height: 150px;
      object-fit: cover;
    }
  }
  .card-whiteboard .card-content {
    font-size: 14px !important;
  }
  // Chỉnh kích thước card short
  .card-image-container {
    width: 80px;
    height: 80px;
  }
  
  .card-image-link {
    display: block; 
    width: 80px;
    height: 80px;
  }
  
  .featured-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  //Điều chỉnh first card
  .list-card--feature {
    .list-card__block {
      .first-card {
        .card-short__detail {
          .card-title {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  // Header
  .header-left, .header-right {
    display: none;
  }
  .phone-header-left {
    display: flex !important;
  }
  .header-middle-logo, 
  .phone-search {
    display: block;
  }
  .content-container {
    padding: 20px 20px;
  }
  // CHỉnh kích thước card-medium
  .card--medium {
    @include card-style($card-medium-text-title, $card-medium-text-content, $card-medium-text-content);
    img {
      height: 200px;
      object-fit: cover;
    }
  }
  //Điều chỉnh first card
  .list-card--feature {
    .list-card__block {
      .first-card {
        .card-short__detail {
          .card-title {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  // CHỉnh kích thước card-medium
  .card--medium {
    img {
      height: 300px;
      object-fit: cover;
    }
  }
  // Chỉnh kích thước card short
  .card-short {
    @include card-style($card-small-text-title + 2px, $card-small-text-content, $card-medium-text-detail + 2px)
  }
  .card-image-container {
    width: 100px;
    height: 100px;
  }

  .card-image-link {
    display: block; 
    width: 100px;
    height: 100px;
  }

  .featured-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

@media (max-width: 575.98px) {
  .content-container {
    padding: 30px 30px;
  }
  .card--medium {
    @include card-style($card-medium-text-title, $card-medium-text-content, $card-medium-text-content)
  }
  .card-short {
    @include card-style($card-small-text-title + 2px, $card-small-text-content, $card-medium-text-detail + 2px)
  }
  //Điều chỉnh first card
  .list-card--feature {
    .list-card__block {
      .first-card {
        .card-short__detail {
          .card-title {
            font-size: 18px;
          }
        }
      }
    }
  }
}




