// Color
$text-color-primary: #131315;
$text-color-light: #989BA2;


// Card Generral

%card-general {
  img {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
  .card-title {
    font-weight: 800;
    a {
      text-decoration: none;
      color: $text-color-primary;
    };
  };
  .card-author {
    a {
      text-decoration: none;
      color: $text-color-primary;
    }
  };
  .card-date {
    color: $text-color-light;
  }
  .card-content {
    color: $text-color-light;
  }
  .card-view {
    color: $text-color-light;
  }
}

// Mixins
@mixin card-style($font-size-title, $font-size-content, $font-size-detail){
  .card-title {font-size: $font-size-title;}
  .card-content {font-size: $font-size-content;}
  .card-date {font-size: $font-size-detail;}
  .card-author {font-size: $font-size-detail;}
  .card-view {font-size: $font-size-detail;}
}

// Content
.content-container {
  padding-top: 50px;
  gap: 20px;
}

// Card chính
.card--big {
  @extend %card-general;
  @include card-style(28px, 18px, 12px);
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding-right: 15px;
}
// Card phụ
.card--medium {
  @extend %card-general;
  @include card-style(20px, 12px, 12px);
  display: flex;
  flex-flow: column;
  gap: 15px;
}
// Card nhỏ
.card-short {
  @extend %card-general;
  @include card-style(14px, 12px, 14px);
  display: flex;
  flex-flow: row;
  padding: 10px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
  border-radius: 5px;
  &__detail {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    .card-view {
      margin: 0;
    }
  }
}

// List card phụ
.list-card--main {
  display: flex;
  flex-flow: column;
  gap: 50px;
  padding: 0 15px;
}
//list card treanding
.list-card--trending {
  padding-left: 15px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}
.list-card__title {
  span {
    color: $text-color-primary;
    font-size: 20px;
    font-weight: 800;    
  }
  .list-card__des {
    padding-top: 10px;
    p {
      color: $text-color-light;
      font-size: 14px;
    }
  }
}