.content-container {
  padding: 50px 10px 0px 10px;
  gap: 20px;
}

// Card chính
.card--big {
  @extend %card-general;
  @include card-style($card-big-text-title, $card-big-text-content, $card-big-text-detail);
  display: flex;
  flex-flow: column;
  gap: 15px;
  // padding-right: 15px;
}



// List card phụ
.list-card--main {
  display: flex;
  flex-flow: column;
  gap: 50px;
  // padding: 0 15px;
}
//list card trending
.list-card--trending {
  // padding-left: 15px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}
// title cho list card
.list-card__title {
  .container-for-title {
    display: flex;
    .title-section {
      color: $text-color-primary;
      font-size: 20px;
      font-weight: 800;
      flex: 0 auto;  
    };
    .line {
      border-bottom: 0.5px solid $line-color-light;
      width: 100%;
      margin-bottom: 6px;
      margin-left: 10px;
      flex: 1;
    };
  }
  .des-section {
    padding-top: 10px;
    p {
      color: $text-color-light;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}
// list card featured
.list-card--feature {
  display: flex;
  flex-flow: column;
  gap: 15px;
  .list-card__block {
    .first-card {
      display: flex;
      flex-flow: column;
      margin-bottom: 10px;
      .card-short__detail {
        .card-title {
          font-size: $card-medium-text-title;
        }
      }
    }
  }
}




// list card whiteboard
.list-card--whiteboard {
  &> .list-card__title {
    margin-bottom: 50px;
    margin-top: 50px;
    .container-for-title .title-section {
      font-size: $card-big-text-title;
    }
  }
}


// Chuyển trang
.page-switch {

  .container-for-switch {
    margin-top: 30px;
    border-top: .5px solid $line-color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    .switch-page {
      margin: 20px 10px;
      background-color: #F5F5F5;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        font-size: $card-small-text-detail;
        color: $text-color-primary;
        text-decoration: none;
      }
    }
  }
}








// Responsive

@media (max-width: 575.98px) {
  .content-container {
    padding: 30px 30px;
  }
  .card--medium {
    @include card-style($card-medium-text-title + 5px, $card-medium-text-content, $card-medium-text-content)
  }
  .card-short {
    @include card-style($card-small-text-title + 5px, $card-small-text-content, $card-medium-text-detail + 5px)
  }
}

@media (max-width: 767.98px) {}
@media (max-width: 991.98px) {}
@media (max-width: 1199.98px) {}
@media (max-width: 1399.98px) {}