.card-info {
    display: flex;
    flex-flow: row;
    gap: 10px;
    align-items: center;
    .card-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
    };
    .container-for-avatar {
      display: flex;
      flex-flow: column;
      gap: 2px;
      i {
        color: $text-color-light;
      }
    };
  }
  
  .card-whiteboard {
    .card-content p{
      font-size: $font-size-content-whiteboard !important;
    }
  }

  .card-index {
    background-color:#F67280;
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-radius: 5px;
    li {
      font-size: $card-small-text-detail;
      color: white;
      flex: 1;
      text-align: center;
    };
    li:nth-child(2) {
      border-left: 1px solid rgba(white, 0.2);
      border-right: 1px solid rgba(white, 0.2);
    }
  }