// Card nhỏ
.card-short {
    @extend %card-general;
    @include card-style($card-small-text-title, $card-small-text-content, $card-medium-text-detail);
    display: flex;
    flex-flow: row;
    padding: 10px;
    box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.1);
    gap: 10px;
    border-radius: 5px;
    &__detail {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      gap: 10px;
      .card-view {
        margin: 0;
      }
    }
  }

.card-image-container {
  width: 100px;
  height: 100px;
}

.card-image-link {
  display: block; 
  width: 100px;
  height: 100px;
}

.featured-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-short--featured {
  padding: 0;
  box-shadow: none;
  gap: 20px
}