// Color
$text-color-primary: #131315;
$text-color-light: #989BA2;
//Text
$card-big-text-title: 28px;
$card-big-text-content: 18px;
$card-big-text-detail: 12px;
$card-medium-text-title: 20px;
$card-medium-text-content: 12px;
$card-medium-text-detail: 12px;
$card-small-text-title: 14px;
$card-small-text-content: 12px;
$card-small-text-detail: 14px;
//Line color
$line-color-light: rgb(235, 235, 235);

// Post Detail
$font-size-title: 40px;

// Content
$color-text-content: #131315;

//card whiteboard
$font-size-content-whiteboard: 16px